jupyter
jupyterlab
nodejs
watermark
jupyterlab-spellchecker
jupyterlab_code_formatter
pandas
numpy
matplotlib
seaborn
statsmodels
scipy
scikit-learn
nltk
pycountry
openpyxl
xlrd
pyarrow
fastparquet
h5py
arrow
polars
selenium
webdriver-manager
lxml
bs4
requests_cache
pymc
pytensor
numpyro
jax
pylint
flake8
black
nbqa
ruff
isort
mypy
pandas-stubs
types-Pillow
types-Pygments
types-colorama
types-decorator
types-jsonschema
types-six
types-ujson
types-beautifulsoup4
types-requests
